<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Welcome and Choose a Course</title>
  <style type="text/css">
    body {
      width: 800px;
      margin: auto;
    }
  </style>
</head>
<body>
<header>
  <h1>Courses List</h1>
</header>
<main>
  <h2>Choose course:</h2>
  <form th:action="@{/}" method="post">
  <input type="radio" name="courseId" value="1"> Веб програмирање<br/>
  <input type="radio" name="courseId" value="2"> Оперативни системи<br/>
  <input type="radio" name="courseId" value="3"> Електронска и мобилна трговија<br/>
  <input type="radio" name="courseId" value="4"> Компјутерски мрежи<br/>

  <br/>
  <a href="/AddStudent">Submit</a>
  </form>
  <br/>
  <th:block th:if="${courses}">
    <h3>Courses</h3>
    <th:block th:each="course : ${courses}">
      <th:block th:text="${course}"></th:block> - <th:block th:text="${course.description}"></th:block>
    </th:block>
  </th:block>
</main>
</body>
</html>